# python lists

The list is the most versatile datatype available in Python, which can be written as a list of comma-separated values (items) between square brackets. Important thing about a list is that the items in a list need not be of the same type.

Creating a list is as simple as putting different comma-separated values between square brackets. For example âˆ’

In [1]:
python = ['uday','samyu']

In [2]:
python

['uday', 'samyu']

In [3]:
I = [1,2,3,4,5,6,78]

In [66]:
I

10

# python slicing

In [68]:
I = [1,2,3,4,5,6,7,8,9]
I[1:2]

[2]

In [69]:
I[3:]

[4, 5, 6, 7, 8, 9]

In [70]:
I[-1:]

[9]

In [71]:
I[:-1]

[1, 2, 3, 4, 5, 6, 7, 8]

 # modifying lists with operators

In [74]:
I*3

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9]

 # inserting list elements in a list

In [76]:
op = [[1,2,3,4,5,6,7], [8,9,10,11,12,13,14]]

In [77]:
op[0][3]

4

In [78]:
op[1][3]

11

# Accessing Values in Lists

To access values in lists, use the square brackets for slicing along with the index or indices to obtain value available at that index

In [5]:
print(python[0])

uday

In [6]:
print(python[1])

samyu

 # updating list elements

In [7]:
python[0] = 'udaykumar'

In [8]:
python

['udaykumar', 'samyu']

 # Delete List Elements

 # del method:::
 the del statement if you know exactly which element(s) you are deleting

In [9]:
del python[0]

In [10]:
python

['samyu']

 # remove method ::
 You can use the remove() method if you do not know exactly which items to delete

In [11]:
I.remove(3)

In [12]:
I

[1, 2, 4, 5, 6, 78]

In [13]:
I.remove(4)

In [14]:
I

[1, 2, 5, 6, 78]

 # len()

In [15]:
len(I)

5

 # concatenation of lists

In [17]:
 o = [1,2,3,4,5] + [6,7,8,9,10]

In [18]:
o

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [19]:
 9 in o

True

 # list iteration

In [20]:
for I in o:
    print(I)

1
2
3
4
5
6
7
8
9
10

 # maximum and minimum elements ina list

In [21]:
min(o)

1

In [22]:
max(o)

10

 # append method

In [43]:
j = ['uday', 'samyu','amma']
k = j + o

In [44]:
print(k)

['uday', 'samyu', 'amma', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 10, 90, 90]

# count method()

In [47]:
k.count(90)

2

 # extend method

In [48]:
tea = ['hyd','vizag']
k.extend(tea)

In [49]:
k

['uday',
 'samyu',
 'amma',
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 10,
 90,
 90,
 'hyd',
 'vizag']

 # index method
 knows the index of a element in the list

In [50]:
k.index('samyu')

1

In [52]:
k.index('vizag')

17

# insert  method()
used to add thee element at the specified index


insert(index, object i.e element to add)

In [55]:
k.insert(20,20)

In [56]:
k

['uday',
 'samyu',
 'amma',
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 10,
 90,
 90,
 'hyd',
 'vizag',
 20]

In [57]:
k.index(20)

18

# pop() method
 pops the last element form the list

In [58]:
k.pop()

20

In [59]:
k.pop()

'vizag'

In [60]:
k

['uday', 'samyu', 'amma', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 10, 90, 90, 'hyd']

 # reversing a list

In [61]:
k.reverse()

In [62]:
k

['hyd', 90, 90, 10, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 'amma', 'samyu', 'uday']

# sorting a list

In [63]:
k.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [64]:
j.sort()

In [65]:
j

['amma', 'samyu', 'uday']

In [1]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

 # to clear list elements

In [4]:
io = [1,2,3,4,5,6,7,8,9]
io.clear()

In [5]:
io

[]